#currentMap {
    text-align: center;
  }

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.left {
  float: left;
  width: 20%;
  box-sizing: border-box;
  /* display: flex; */
  /* justify-content: space-between; */
}


.right {
  float: right;
  width: 80%;
  flex: 1;
  box-sizing: border-box;
  /* display: flex; */
  /* justify-content: space-between; */
}

.screenshot {
  float: right;
  flex: 1;
  box-sizing: border-box;
}
