#currentMap {
    text-align: center;
  }
/* .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}